<launch>

<!-- Load joint controller configurations from YAML file to parameter server -->
<rosparam file="$(find robot_arm)/config/arm_control.yaml"/>

  <!-- load the controllers -->
  <node name="bar_control" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/arm" args="--namespace=/arm joint_state_controller joint_one_position_controller joint_two_position_controller

--timeout 100"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">

    <remap from="/joint_states" to="/arm/joint_states" />
 
 </node>
</launch>
